* {
  box-sizing: border-box;
}

.chess-board {
  margin: 50px auto;
  width: 480px;
}

.space {
  border: 1px solid gray;
  float: left;
  font-size: 12px;
  height: 60px;
  position: relative;
  width: 60px;
}

.heatmap {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.rank {
  clear: both;
  float: left;
}
