* {
  box-sizing: border-box;
}

.container {
  margin: 50px auto;
  width: 480px;
}

.chess-board:after {
  content: "";
  display: table;
  clear: both;
}

.rank {
  clear: both;
  float: left;
}

form {
  margin-top: 1rem;
}

input {
  width: 100%;
}

.space {
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  font-size: 12px;
  height: 60px;
  position: relative;
  width: 60px;
}

.space.black {
  background-color: #f0f0f0;
  /* background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScvPgogIDxwYXRoIGQ9J00tMSwxIGwyLC0yCiAgICAgICAgICAgTTAsMTAgbDEwLC0xMAogICAgICAgICAgIE05LDExIGwyLC0yJyBzdHJva2U9J2JsYWNrJyBzdHJva2Utd2lkdGg9JzMnLz4KPC9zdmc+"); */
  background-size: 10%;
}

.space.selected {
  border-width: 3px;
}

.heatmap {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
